<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% if (user) { %>
  <h2>Hi <%= user.username %>!! You are now logged in.</h2>
  <a href="/logout">logout</a>
  <hr>
  <% } %>

  <% if (message) { %>
  <p><%= message %></p>
  <% } %>

  <% if (!user) { %>
  <form action="/login" method="post">
    <table>
      <tr>
          <th>名前</th>
          <td>
            <input type="text" name="username" id="">
          </td>
      </tr>
      <tr>
          <th>パスワード</th>
          <td>
            <input type="password" name="password" id="">
          </td>
      </tr>
      <tr>
          <!-- 記事の投稿ボタン -->
          <th></th>
          <td>
              <button type="submit">LOGIN</button>
          </td>
      </tr>
    </table>
  </form>
  <% } %>
</body>
</html>