<!DOCTYPE html>
<html>
  <head>
    <title>Express Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="POST">
        <table>
            <tr>
                <th>Search</th>
                <td>
                    <input type="text" class="title-input" name="search" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">更新</button>
                </td>
            </tr>
        </table>
    </form>
  </body>
</html>