<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	</head>
	<body>
		<h1>新しい記事を投稿</h1>
		<form action="/write" method="POST">
			<table>
				<tr>
					<th>Title</th>
					<td>
						<input type="text" class="title-input" name="title" />
					</td>
				</tr>
				<tr>
					<th>Content</th>
					<td>
						<textarea name="content"></textarea>
					</td>
				</tr>
				<tr>
					<th>YouTube URL</th>
					<td>
						<textarea name="youtube_url"></textarea>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button type="submit">投稿</button>
					</td>
				</tr>
			</table>
		</form>
		</head>
	</body>
</html>